.index_demo {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: flex-start;
    position: absolute;
    top: 30px;
}
.image_demo {
    position: absolute;
    width: 1380px !important;
    max-width: 1380px;
    height: 600px !important;
    max-height: 600px;
    min-width: 1380px;
    min-height: 600px !important;
    top: 80px;
}
.topo_demo {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: flex-start;
    position: absolute;
    top: 720px;
}
.image_sinopec_demo {
}
.image_sinopec {
    position: absolute;
    top: 320px;
    left: 272px;
    z-index: 1;
    height: 102px !important;
    width: calc(185px - 0px);
    max-width: 185px;
    min-width: 185px;
    max-height: 102px;
    min-height: 102px !important;
}
.video_demo_one {
    position: absolute;
    top: 210px;
    width: 410px !important;
    height: 250px !important;
    left: 520px;
    max-width: 410px;
    min-width: 410px;
    max-height: 250px;
    min-height: 250px !important;
}
.video_demo_two {
    width: 410px !important;
    height: 250px !important;
    position: absolute;
    top: 210px;
    max-width: 410px;
    min-width: 410px;
    max-height: 250px;
    min-height: 250px !important;
    left: 950px;
}
.image_demo_three {
    position: absolute;
    width: 960px !important;
    height: 540px !important;
    top: 780px;
}
